<?xml version="1.0" encoding="UTF-8"?>
<hibernate-configuration>

    <session-factory>

       <!-- Related to the connection START -->
<property name="connection.driver_class">oracle.jdbc.OracleDriver</property>
<property name="connection.url">jdbc:oracle:thin:@localhost:1521/PDBORCL</property>
<property name="connection.user">scott</property>
<property name="connection.password">tiger</property>
<!-- Related to the connection END -->

<!-- Related to hibernate properties START -->
<property name="show_sql">true</property>
<property name="dialet">org.hibernate.dialect.Oracle12cDialect</property>
<property name="hbm2ddl.auto">update</property>
<!-- Related to hibernate properties END-->

<!-- Related to mapping START-->
<mapping class="com.hi.samplehi.studentdetails" />
<!-- Related to the mapping END -->

</session-factory>
</hibernate-configuration> 